<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta charset="utf-8">
<%- include(json['template'].path + 'include/common/-meta', {page: json['template']}) %>
<%- include(json['template'].path + 'include/common/-headCss', {page: json['template']}) %>
<%- include(json['template'].path + 'include/common/-headScript', {page: json['template']}) %>
<script type="application/ld+json">
    [
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "<%= json['default'].siteName %>",
            "url": "<%= json['default'].siteUrl %>"
        },
        {
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "item": {
                        "@id": "<%= json['default'].siteUrl %>",
                        "name": "<%= json['default'].siteName %>"
                    }
                }
            ]
        }
    ]
</script>
</head>

<body>
<div id="document" class="<%= json['template'].pageID %>">
<%- include(json['template'].path + 'include/common/-header', {page: json['template']}) %>
<%- include(json['template'].path + 'include/common/-gnav', {page: json['template']}) %>

<div id="container">


container


<%- include(json['template'].path + 'include/common/-pagetop') %>
<!-- /#container ==========--></div>

<%- include(json['template'].path + 'include/common/-footer', {page: json['template']}) %>
<!-- /#document ==========--></div>
<script src="<%= json['template'].path %>scripts/common/bundle.js" defer></script>
</body>
</html>