<%
  var pageID = 'template';
%><!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta charset="utf-8">
<%- include(json[pageID].path + 'include/common/-meta', {page: json[pageID]}) %>
<%- include(json[pageID].path + 'include/common/-headCss', {page: json[pageID]}) %>
<%- include(json[pageID].path + 'include/common/-headScript', {page: json[pageID]}) %>
<script type="application/ld+json">
  [
<%- include(json[pageID].path + 'include/common/-jsonld', {page: json[pageID], type: "WebSite"}) %>
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "<%= json['default'].siteName %>",
      "url": "<%= json['default'].siteUrl %>"
    },
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@id": "<%= json['default'].siteUrl %>",
            "name": "<%= json['default'].siteName %>"
          }
        },
        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@id": "<%= json['template'].siteUrl %>",
            "name": "<%= json['template'].siteName %>"
          }
        }
      ]
    }
  ]
</script>
</head>
<body>
<div id="document" class="<%= json[pageID].pageID %>">
<%- include(json[pageID].path + 'include/common/-header', {page: json[pageID]}) %>
<%- include(json[pageID].path + 'include/common/-gnav', {page: json[pageID]}) %>

<div id="container">
<nav id="breadcrumb">
<ol>
<li><a href="<%= json[pageID].path %>"><span>HOME</span></a></li>
<li><a href="<%= json[pageID].path %>"><span>breadcrumb</span></a></li>
<li><em><%= json[pageID].pageName %></em></li>
</ol>
<!-- /#breadcrumb --></nav>
<main>
<article id="mainContents">


main contents area


<%- include(json[pageID].path + 'include/common/-pagetop') %>
<!-- /#mainContents ==========--></article>
</main>

<%- include(json[pageID].path + 'include/common/-subContents', {page: json[pageID]}) %>
<!-- /#container ==========--></div>

<%- include(json[pageID].path + 'include/common/-footer', {page: json[pageID]}) %>
<!-- /#document ==========--></div>
<script src="<%= json[pageID].path %>scripts/common/bundle.js" defer></script>
</body>
</body>
</html>
