<footer id="gfooter">
<div class="content">
<ul class="unav">
<li><a href="#{vars.path}">ユーティリティ01</a></li>
<li><a href="#{vars.path}">ユーティリティ02</a></li>
<li><a href="#{vars.path}">ユーティリティ03</a></li>
<li><a href="#{vars.path}">ユーティリティ04</a></li>
<li><a href="#{vars.path}">ユーティリティ05</a></li>
<li><a href="#{vars.path}">ユーティリティ06</a></li>
</ul><!-- /.unav -->
<p class="copyright"><small>Copyright&copy;<script>myDate = new Date();myYear = myDate.getFullYear();document.write(myYear);document.write("&nbsp;");</script> xxxxxxxxx All Rights Reserved.</small></p>
</div><!-- /.content -->
</footer><!-- /#gfooter ==========-->
