<nav id="gnav">
<div class="menu"><button><span>メニュー</span></button></div>
<ul>
<li><a href="#{vars.path}">メニュー01</a></li>
<li><a href="#{vars.path}">メニュー02</a></li>
<li><a href="#{vars.path}">メニュー03</a></li>
<li><a href="#{vars.path}">メニュー04</a></li>
<li><a href="#{vars.path}">メニュー05</a></li>
<li><a href="#{vars.path}">メニュー06</a></li>
</ul>
</nav><!-- /#gnav ==========-->