<%
var _default = json['default'];
for ( var key in _default ) {
  if ( typeof page[key] === 'undefined' ) {
    page[key] = _default[key];
  }
}
-%>
<footer id="gfooter">
<div class="content">
<ul class="unav">
<li><a href="<%= page['path'] %>">ユーティリティ01</a></li>
<li><a href="<%= page['path'] %>">ユーティリティ02</a></li>
<li><a href="<%= page['path'] %>">ユーティリティ03</a></li>
<li><a href="<%= page['path'] %>">ユーティリティ04</a></li>
<li><a href="<%= page['path'] %>">ユーティリティ05</a></li>
<li><a href="<%= page['path'] %>">ユーティリティ06</a></li>
<!-- /.unav --></ul>
<p class="copyright"><small>Copyright&copy;<script>myDate = new Date();myYear = myDate.getFullYear();document.write(myYear);document.write("&nbsp;");</script> xxxxxxxxx All Rights Reserved.</small></p>
<!-- /.content --></div>
<!-- /#gfooter ==========--></footer>