<%
var _default = json['default'];
for ( var key in _default ) {
  if ( typeof page[key] === 'undefined' ) {
    page[key] = _default[key];
  }
}
-%>
<nav id="gnav">
<div class="menu"><button><span>メニュー</span></button></div>
<ul>
<% if (page['categoryID'] == 'home') { %><li class="is_current"><% } else { %><li><% } %><a href="<%= page['path'] %>">メニュー01</a></li>
<% if (page['categoryID'] == 'template') { %><li class="is_current"><% } else { %><li><% } %><a href="<%= page['path'] %>">メニュー02</a></li>
<% if (page['categoryID'] == 'category') { %><li class="is_current"><% } else { %><li><% } %><a href="<%= page['path'] %>">メニュー03</a></li>
<% if (page['categoryID'] == 'category') { %><li class="is_current"><% } else { %><li><% } %><a href="<%= page['path'] %>">メニュー04</a></li>
<% if (page['categoryID'] == 'category') { %><li class="is_current"><% } else { %><li><% } %><a href="<%= page['path'] %>">メニュー05</a></li>
<% if (page['categoryID'] == 'category') { %><li class="is_current"><% } else { %><li><% } %><a href="<%= page['path'] %>">メニュー06</a></li>
</ul>
<!-- /#gnav ==========--></nav>