<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta charset="utf-8">
<%- include(json['home'].path + 'include/common/-meta', {page: json['home']}) %>
<%- include(json['home'].path + 'include/common/-headCss', {page: json['home']}) %>
<%- include(json['home'].path + 'include/common/-headScript', {page: json['home']}) %>
<script type="application/ld+json">
  [
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "<%= json['home'].siteName %>",
      "url": "<%= json['home'].siteUrl %>"
    },
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@id": "<%= json['home'].siteUrl %>",
            "name": "<%= json['home'].siteName %>"
          }
        }
      ]
    }
  ]
</script>
</head>

<body>
<div id="document" class="<%= json['home'].pageID %>">
<%- include(json['home'].path + 'include/common/-header', {page: json['home']}) %>
<%- include(json['home'].path + 'include/common/-gnav', {page: json['home']}) %>

<div id="container">


container



<%- include(json['home'].path + 'include/common/-pagetop') %>
<!-- /#container ==========--></div>

<%- include(json['home'].path + 'include/common/-footer', {page: json['home']}) %>
<!-- /#document ==========--></div>
<script src="<%= json['home'].path %>scripts/common/bundle.js" defer></script>
</body>
</html>